* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu button{
    width: 50px; 
   border-radius: 5px ;
   border: 1px solid grey;
   
    
   
}

.menu button img {
color: grey;
}

.menu {
  position: absolute;
  right: 0;
  margin-right: 30px;

}


h1 {
    color:  rgb(148, 1, 107) 
}
.menu button:hover {
    background-color: rgb(189, 189, 189);
}

header div {
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
   
    
}

.mlarodo {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.segment {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(RDW.jpg);
    background-position: center;
    height: 700px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    width: 100%;
    position: relative;
    

   
   
}

.fade {
    animation: fadeIn 0.5s ease-in-out forwards;
}

p {
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: justify;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {opacity: 1;}
}


.ham-menu {
    background-color: white;
    top: 0px;
    right: 0px;
    left: 0px;
    display: none;
    
}

.ham-menu ol {
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    width: 100%;
}

.ham-menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.76);
    font-weight: 900;
    font: 600;
    width: 100%;
    display: flex;
    padding: 20px;
    

    
}

.ham-menu a:hover {
    color: purple;
}

.cont {
    animation-name: slideleft;
    animation-duration: 2s;
    margin-left: 20px

    

}
.cont h1{
font-size: 50px;
}

@keyframes slideleft {
    from{ transform: translateY(100%)}
   
}


@keyframes fadein {
     from{ background-color: black;}
}

.segment h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
    margin-bottom: 20px;

    
}

.segment button {
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    font-weight: 800;
    color: rgb(90, 0, 90);
    background-color: rgb(255, 230, 89);
    border-radius: 20px;
    border: 2px solid white;
    font-size: 12px;
   

   
 
   
}

.segment button:hover {
color:  rgb(255, 230, 89);
background-color:purple ;
}

h1 {
    font-size: 50px;
    margin-left: 20px;
    max-width: 90%;
   
}

p {
    margin-left: 20px;
}

.bt2 {
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-weight: 800;
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(148, 1, 107);
    border-radius: 30px;
    border: 2px solid white;
    font-size: 9px;
}

.img1 {
    width: 100%;
    padding:20px;
    margin: 0;
    
    
}
    
p {
    line-height: 2;
}

.tito {
    text-align: center;
}

.defont {
   
}

.programs{
    background-color: rgb(253, 230, 246) ;
    width: 100%;
}

.titodisc {
    text-align: center;
    margin: 0;
}

.pros {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
    display: block;
    background-color: white;
    width: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    box-sizing: border-box;
}

.readmore {
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
    color:   rgb(148, 1, 107);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-bottom:10px;
}

.readmore:hover {
    background-color: rgb(206, 206, 206);
}

.pros img {
    max-width: 100%
}

.pros h4 {
    margin-left: 20px;
}

.curvy {
    border-radius: 200px;

}

.grid  {
    padding: 10px;
    display: grid;
    margin: 0;
    grid-template-columns: auto  auto auto;
    grid-gap: 10px;
}

@media screen and (max-width:600px) {
    .section1, .section2, .section3, .pinkbox {width: 100%;  }
     
    
    
}

@media screen and (max-width:600px) {
    .grid{width: 100%; 
    display: flex;
flex-wrap: wrap; }

p{
    font-size: 14px;
}
     
    
    
}

.programs {
    
}


.pinkbox {
    background-color: lightpink;
    margin: 30px;
    padding: 20px;
   width: 600px;
    float: left;
    box-sizing: border-box;

   
   
   
   
   
}

.pinkbox h3 {
    margin-left: 20px;
    padding-top: 20px;
    margin-bottom: 0;
    
}

@media screen (max-width:550px) {
    
}

.pinkboxes {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
   
 
}

footer {
    clear: both;
    background-color: rgb(215, 42, 215);
}


.mlaf {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white; 
   
}

.section1 {

   margin: 0;

}
    
.orid   {
    float: left;
    
}

.ese {
    display: flex;

    
    align-items: center;
}

.icono {
    width:30px;
    margin-right: 10px;
}

.icono:hover {background-color: purple;

}

.icons {
   margin-left: 20px;
}

section h3 {
    color: white;
    
}

.section2 a {
color:white;
text-decoration: none;
display: block;

padding: 10px;

}

.section2 a:hover {
    color:black;
}

.section3 p {
color: white;
margin: 0;
}

.mail {
    height:30px;

border-radius: 20px;
border: 1px solid blacK;
width: 85%;
box-sizing: border-box;
margin-left: 0;
}

.mail-button {
    height: 30px;
    width: 10%;
    box-sizing: border-box;
    margin-right: -5px;
}

.mailbox {
    box-sizing: border-box;
}

section {
    display: inline-block;
   margin-left: 20px;
   width: 400px;
   margin-top: 30px;

  


}

.abalameta {
   display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 30px;
     

}

hr{
    border: 1px solid rgb(231, 231, 231, 0.5);
}

@media screen and (max-width: 600px){
    .mlarodo {
       font-size: 20px; 
    }
}